.image-list .box{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
    
     counter-increment: anas ;
}
.image-list img{
    width: 100%;
    height: 300px;
    max-height: 300px;
    padding: 1px;
    position: relative;
}
.image-list .box > div{
    counter-increment:images;
    position: relative;
}
.image-list .box >div::before{
    content: "" counter(images);
    position: absolute;
    width: 30px;
    height: 25px;
    font-size: 19px;
    top: 0;
    left: 0;;
    background-color: aqua;
    color: white;
    z-index: 2;
    align-items: center;
    text-align: center;


}